#food {
	background-color: lightyellow;
	float: left;

}
#empty {
	background-color: white;
	float: left;
}
#drop {
	background-color: lightblue;
	float: left;
}
#foodll {
	background-color: lightyellow;
	float: left;
	font-size: 2em;
	color: blue;
	margin-top: 20px;
	margin-left: 10%;

}


#tool {
	background-color: lightblue;
	box-sizing: content-box;
   
    border: 2px solid black;
    width: 40%;
    margin-right: 6%;
    margin-top: 2%;
    text-align: center;
    font-size: .8em;
}




#menu .container {
	float: left;
	margin-top: 20px;
	margin-right: 10%;
	margin-left: 10%;
	background-color: pink;
	width: 80%;



}

/*.accordion d-sm-block {
	width: 95%;
	float: left;
}*/
